@import url('https://fonts.googleapis.com/css?family=Lato|Open+Sans');

@font-face {
    font-family: 'amazdoomleftregular';
    src: url('fonts/amazdoomleft-webfont.woff2') format('woff2'),
         url('fonts/amazdoomleft-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.amaz{
    font-family: 'amazdoomleftregular';
    font-size: 2.5rem;  
    padding: 0;
    bottom: 0;
    margin-left: 0.5rem;
    margin-bottom: -1.3rem;
    margin-top: 1.1rem;
    font-weight: normal;
}