.pro{
    float: left;
    margin-bottom: 2em;
    position: relative;
}

    .pro:first-child{
        margin-right: 2.762430939%;
    }

.pro img{
    width: 100%;
}

.pro:hover .pro-name{
    opacity: 0.8;
}

.pro-name{
    position: absolute;
    top: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    text-align: center;
    opacity: 0;
    background-color: #333;
    transition: all 0.5s ease;
}

    .pro-name h5{
        position: absolute;
        color: #fff;
        top: 33%;
        width: 100%;
        text-align: center;
    }


/*h3.timeframe{
    color: #8C0000;
    margin: 0;
    border: 0;
    padding: 0;
    font-style: italic;
    font-size: 1rem;
}

p.timeframe{
    margin-top: 0.2rem;
}*/
