body{
  margin: 1rem;
}

.logo{
  max-height: 4rem;
}

.button-nav {
  display: inline-block;
  padding: 0.5rem;
  color: white;
  background-color: rgb(50,50,50);
  text-decoration: none;
  transition-property: background-color;
  transition-duration: 0.5s;
}

.button-nav:hover, .button-nav:focus {
  background-color: rgb(200,200,200);
  color: white;
}

/*--------------------------*/

.gamePanel{
  display: block;
}

button{
  display: inline-block;
  padding: 0.5rem;
  color: white;
  background-color: green;
  border-radius: 8px;
  text-decoration: none;
  border: none;
  font-size: 0.875rem;
  font-weight: bold;
  width: 238px;
}

canvas {
  border:1px solid #d3d3d3;
  background-color: #f1f1f1;

  left: 250px;
  top: 250px;
}